<app-navbar-admin></app-navbar-admin>
<div class="container-base">
    <div class="container-form" *ngIf="!loading">
        <h2>Compra de Entrada</h2>
        <form [formGroup]="entradaForm" class="formEntrada" (ngSubmit)="agregar()">

            <div class="container-input">
                <label for="fechaVencimiento">Fecha Entrada: </label>
                <input type="date" [min]="minDate" id="fechaVencimiento" formControlName="fechaVencimiento" />
            </div>

            <div class="container-input">
                <label for="grupo" style="margin-right: 3px;">Grupo/Hora:</label>
                <select formControlName="grupo" id="grupo">
                    <option selected="true">Grupo 01: Entrada 08:00 am</option>
                    <option>Grupo 02: Entrada 09:00 am</option>
                    <option>Grupo 03: Entrada 10:00 am</option>
                    <option>Grupo 04: Entrada 11:00 am</option>
                    <option>Grupo 05: Entrada 12:00 am</option>
                    <option>Grupo 06: Entrada 01:00 pm</option>
                    <option>Grupo 07: Entrada 02:00 pm</option>
                    <option>Grupo 08: Entrada 03:00 pm</option>
                    <option>Grupo 09: Entrada 04:00 pm</option>
                </select>
            </div>
            <div>

            </div>
            <div class="container-input">
                <label for="CantNacionales">Cantidad de Nacionales</label>
                <input type="number" (change)="cargarTotalNacional($event)" (input)="validateNumber($event)"
                    formControlName="CantNacionales" id="CantNacionales" min="0" max="100">
                <div class="errorMessage" *ngIf="entradaForm.controls['CantNacionales'].errors">
                    La cantidad de Nacionales supera el limite.
                </div>
            </div>
            <div class="container-input">
                <label for="CantExtranjeros">Cantidad de Extranjeros</label>
                <input type="number" (change)="cargarTotalExtranjero($event)" (input)="validateNumber($event)"
                    formControlName="CantExtranjeros" id="CantExtranjeros" min="0" max="100">

                <div class="errorMessage" *ngIf="entradaForm.controls['CantExtranjeros'].errors">
                    La cantidad de Extranjeros supera el limite.
                </div>
            </div>
            <div class="total">
                <div class="totalNacional">
                    <H6>Nacionales (Colones)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalN}}</label>
                    </div>

                    <!-- <div>
                        <label for="">IVA ({{ivaPorcentaje}}%): {{ivaN}}</label>
                    </div> -->
                    <div>
                        <label for="">Total:{{totalN}}</label>
                    </div>

                </div>
                <div class="totalExtranjero">
                    <H6>Extranjeros (Dolares)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalE}}</label>
                    </div>

                    <!-- <div>
                        <label for="">IVA ({{ivaPorcentaje}}%): {{ivaE}}</label>
                    </div> -->
                    <div>
                        <label for="">Total:{{totalE}}</label>
                    </div>

                </div>
            </div>


            <div class="container-input">
                <button class="button-secondary submit-form" type="submit"
                    [disabled]="!entradaForm.valid">Comprar</button>
            </div>

        </form>
    </div>
    <div class="informationPark" *ngIf="!loading">
        <div class="container-image">
            <label class="label-primaryTitle">{{park.Nombre}}</label>
            <label class="label-secondaryTitle">{{ park.Area_de_Conservacion }}</label>

            <img class="image-park" [src]="'../../../assets/img/parquesNacionales/' + park.Nombre+'.jpg'">

        </div>
        <div class="container-generalInfo">
            <label>Provincia: {{ park.Provincia }}</label>
            <label>Tarifa para Nacionales: ₡{{ park.Tarifa_Nacionales_colones }}</label>
            <label>Tarifa para Extranjeros: ${{ park.Tarifa_Extranjeros_dolares }}</label>
            <label>Cantidad máxima de visitantes: {{ park.maxVisitantes }}</label>
            <label>Horario: {{ park.horario }}</label>
        </div>
    </div>

</div>


<div class="spinner-div" style="margin-top: 5%;">
    <app-spinner *ngIf="loading"></app-spinner>
</div>