<style>
    .container-form {
        display: flex;
        justify-content: center;
    }

    .formEntrada {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
    }


    .informationPark {
        display: flex;

        flex-direction: column;
    }

    .total {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
</style>

<div>

    <div class="informationPark" *ngIf="!loading">

        <label>{{park.Nombre}}</label>
        <label>{{ park.Area_de_Conservacion }}</label>
        <label>Provincia: {{ park.Provincia }}</label>
        <label>Tarifa para Nacionales (colones): {{ park.Tarifa_Nacionales_colones }}</label>
        <label>Tarifa para Extranjeros (dólares): {{ park.Tarifa_Extranjeros_dolares }}</label>
        <label>Cantidad máxima de visitantes: {{ park.maxVisitantes }}</label>
        <label>Horario: {{ park.horario }}</label>

    </div>

    <div class="container-form" *ngIf="!loading">

        <form [formGroup]="entradaForm" class="formEntrada" (ngSubmit)="agregar()">

            <div>
                <label for="fechaVencimiento" style="margin-right: 3px;">Fecha Entrada: </label>
                <input type="date" [min]="minDate" id="fechaVencimiento" formControlName="fechaVencimiento" />
            </div>

            <div>
                <label for="grupo" style="margin-right: 3px;">Grupo/Hora:</label>
                <select formControlName="grupo" id="grupo">
                    <option selected="true">Grupo 01: Entrada 08:00 am</option>
                    <option>Grupo 02: Entrada 09:00 am</option>
                    <option>Grupo 03: Entrada 10:00 am</option>
                    <option>Grupo 04: Entrada 11:00 am</option>
                    <option>Grupo 05: Entrada 12:00 am</option>
                    <option>Grupo 06: Entrada 01:00 pm</option>
                    <option>Grupo 07: Entrada 02:00 pm</option>
                    <option>Grupo 08: Entrada 03:00 pm</option>
                    <option>Grupo 09: Entrada 04:00 pm</option>
                </select>
            </div>

            <div>
                <label for="CantNacionales">Cantidad de Nacionales</label>
                <input type="number" (change)="cargarTotalNacional($event)" formControlName="CantNacionales"
                    id="CantNacionales" min="0" max="100">
            </div>

            <div>
                <label for="CantExtranjeros">Cantidad de Extranjeros</label>
                <input type="number" (change)="cargarTotalExtranjero($event)" formControlName="CantExtranjeros"
                    id="CantExtranjeros" min="0" max="100">
            </div>
            <div class="total">
                <div class="totalNacional">
                    <H6>Nacionales (Colones)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalN}}</label>
                    </div>

                    <!-- <div>
                        <label for="">IVA ({{ivaPorcentaje}}%): {{ivaN}}</label>
                    </div> -->
                    <div>
                        <label for="">Total:{{totalN}}</label>
                    </div>

                </div>
                <div class="totalExtranjero">
                    <H6>Extranjeros (Dolares)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalE}}</label>
                    </div>

                    <!-- <div>
                        <label for="">IVA ({{ivaPorcentaje}}%): {{ivaE}}</label>
                    </div> -->
                    <div>
                        <label for="">Total:{{totalE}}</label>
                    </div>

                </div>
            </div>


            <div>
                <button class="button-secondary submit-form" type="submit"
                    [disabled]="!entradaForm.valid">Agregar</button>
            </div>

        </form>
    </div>


</div>


<div class="spinner-div" style="margin-top: 5%;">
    <app-spinner *ngIf="loading"></app-spinner>
</div>