<!-- <div>
     <form [formGroup]="entradaForm" (ngSubmit)="agregar()">

        <div class="form-container">

            <form class="form" [formGroup]="entradaForm" (ngSubmit)="agregar()" style="display: flex;
    align-items: stretch;">

                <div style="display: flex;
        justify-content: center;">
                    <h5>Guardar Entrada</h5>
                </div>


                <input type="hidden" id="id" formControlName="id">
            
        <div class="container-input" *ngIf="!loadingParks">
            <label for="cedula">Identificacion:</label>
            <input list="listAdmins" id="cedula" [(ngModel)]="cedula" (change)="saveCedula($event)"
                [ngModelOptions]="{standalone: true}">
            <datalist id="listAdmins">
                <option *ngFor="let a of listAdmins" [value]="a.cedula">{{a.nombre}} - {{a.apellido}}</option>
            </datalist>
        </div>

        <div class="container-input" *ngIf="!loadingCedula">
            <label for="fk_idParque">Parque:</label>
            <input list="listaParques" id="fk_idParque" [(ngModel)]="fk_idParque" (change)="savePark($event)"
                [ngModelOptions]="{standalone: true}">
            <datalist id="listaParques">
                <option *ngFor="let c of listParks" [value]="c.Nombre">{{c.Provincia}}</option>
            </datalist>
        </div>
        <div class="container-input">
            <label>Parque:{{nombreParque}}</label>
        </div>
        <div class="container-input">
            <label>Identificacion:{{nombreCedula}}</label>
        </div>
        <div class="container-input">
            <label>Tarifa:{{tarifa}}</label>
        </div>

        <div class="container-input">
            <label>Total:{{tarifa}}</label>
        </div>
       
        <div class="container-input">
            <label for="fechaVencimiento">Reservacion:</label>
            <input type="date" id="fechaVencimiento" formControlName="fechaVencimiento">
        </div>
        <div class="container-submit">
            <button class="button-secondary submit-form" type="submit" [disabled]="!entradaForm.valid">Guardar</button>
        </div>
    </form>
</div> -->


<div>
    <table datatable [dtOptions]="dtOptions" *ngIf="!loading">
        <thead>
            <tr>
                <th>Fecha creacion</th>
                <th>Identificacion</th>
                <th>Parque</th>
                <th>Tarifa</th>
                <th>estado</th>
                <th>Reservacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listEntradas">
                <td>{{item.fecha}}</td>
                <td>{{item.fk_cedula}}</td>
                <td>{{item.parqueNombre}}</td>
                <td>{{item.tarifa}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.fechaVencimiento}}</td>

                <!-- <td><button class="button-edit" (click)="loadActualizar(item.id!)"><img
                            src="../../../assets/img/edit.svg" width="24px" height="auto"></button>
                    <button class="button-delete" (click)="eliminar(item.id!)"><img
                            src="../../../assets/img/trash-can.svg" width="24px" height="auto"></button>
                </td> -->

            </tr>
        </tbody>
    </table>
</div>


<div class="spinner-div" style="margin-top: 5%;">
    <app-spinner *ngIf="loading"></app-spinner>
</div>