<app-navbar-admin></app-navbar-admin>
<div class="container-base" *ngIf="!loading">
    <div class="container-form">

        <form class="entradaForm" [formGroup]="entradaForm" (ngSubmit)="addEntrada()">
            <h2>Ingresar Entrada</h2>
            <div class="container-input">
                <label for="usuarios">Usuario</label>

                <input list="listUsuario" [disabled]="isReadOnly" id="fk_idUsuario" [(ngModel)]="fk_idUsuario"
                    (change)="selectUser($event)" (input)="validateID()" [ngModelOptions]="{standalone: true}">
                <datalist id="listUsuario">
                    <option *ngFor="let c of listUsuario" [value]="c.correo">{{c.identificacion}}</option>
                </datalist>
            </div>
            <div class="container-input">
                <label for="fk_idParque">Parque</label>


                <input list="listaParques" id="fk_idParque" [(ngModel)]="fk_idParque" (change)="selectPark($event)"
                    [ngModelOptions]="{standalone: true}">
                <datalist id="listaParques">
                    <option *ngFor="let c of listParques" [value]="c.Nombre">{{c.Provincia}}</option>
                </datalist>

            </div>
            <div class="container-input">
                <label>Fecha</label>
                <input [min]="minDate" formControlName="fechaVencimiento" type="date" name="fecha">
                <!-- <div class="errorMessage" *ngIf="entradaForm.controls['fechaVencimiento'].errors">
                    Fecha Incorrecta.
                </div> -->
            </div>
            <label class="label-title">Número de personas</label>
            <div class="container-selects">
                <div class="container-input">
                    <label>Nacionales</label>
                    <input type="number" min="0" max="100" (change)="cargarTotalNacional($event)"
                        formControlName="CantNacionales" name="CantNacionales" (input)="validateNumber($event)">
                </div>

                <!-- <div class="errorMessage" *ngIf="entradaForm.controls['CantNacionales'].errors">
                    Cantidad de Nacionales Incorrecta.
                </div> -->

                <div class="container-input">
                    <label>Extranjeros</label>
                    <input type="number" min="0" max="100" (change)="cargarTotalExtranjero($event)"
                        name="CantExtranjeros" formControlName="CantExtranjeros" (input)="validateNumber($event)">

                    <!-- <div class="errorMessage" *ngIf="entradaForm.controls['CantExtranjeros'].errors">
                        Cantidad de Extranjeros Incorrecta.
                    </div> -->
                </div>
            </div>
            <div class="container-input">
                <label>Grupo/Hora</label>
                <select formControlName="grupo" id="grupo">
                    <option selected="true">Grupo 01: Entrada 08:00 am</option>
                    <option>Grupo 02: Entrada 09:00 am</option>
                    <option>Grupo 03: Entrada 10:00 am</option>
                    <option>Grupo 04: Entrada 11:00 am</option>
                    <option>Grupo 05: Entrada 12:00 am</option>
                    <option>Grupo 06: Entrada 01:00 pm</option>
                    <option>Grupo 07: Entrada 02:00 pm</option>
                    <option>Grupo 08: Entrada 03:00 pm</option>
                    <option>Grupo 09: Entrada 04:00 pm</option>
                </select>
            </div>

            <div class="total">
                <div class="totalNacional">
                    <H6>Nacionales (Colones)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalN}}</label>
                    </div>
                    <div>
                        <label for="">Total:{{totalN}}</label>
                    </div>

                </div>
                <div class="totalExtranjero">
                    <H6>Extranjeros (Dolares)</H6>
                    <div>
                        <label for="">Subtotal:{{subtotalE}}</label>
                    </div>

                    <div>
                        <label for="">Total:{{totalE}}</label>
                    </div>

                </div>
            </div>

            <button class="button-secondary submit-form" type="submit">Agregar</button>
        </form>
    </div>
    <div class="container-table">
        <div class="container-filter">
            <div>
                <label for="filterStartDate">Fecha Inicial:</label>
                <input id="filterStartDate" style="width: 160px;" type="date" class="form-control"
                    placeholder="Fecha inicio" [(ngModel)]="filterStartDate" (ngModelChange)="applyDateRangeFilter()" />
            </div>
            <div style="margin-left: 20px;">
                <label for="filterEndDate">Fecha Final:</label>
                <input id="filterEndDate" style="width: 160px;" type="date" class="form-control" placeholder="Fecha fin"
                    [(ngModel)]="filterEndDate" (ngModelChange)="applyDateRangeFilter()">
            </div>

            <div style="margin-left: 20px;">
                <button (onclick)="graficar()">Graficar</button>
            </div>
        </div>

        <table class="table-entrada" datatable [dtOptions]="dtOptions" *ngIf="!loading">
            <thead>
                <tr>
                    <th>Fecha creación</th>
                    <th>Correo</th>
                    <th>Parque</th>
                    <th>Tarifa Colones</th>
                    <th>Tarifa Dolares</th>
                    <th>Estado</th>
                    <th>Reservación</th>
                    <th>Hora/Grupo</th>
                    <th>Cantidad Nacionales</th>
                    <th>Cantidad Extranjeros</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listEntradas">
                    <td>{{item.fecha}}</td>
                    <td>{{item.correo}}</td>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.totalNacionales}}</td>
                    <td>{{item.totalExtranjeros}}</td>
                    <td >{{item.estado}}</td>
                    <td>{{item.fechaVencimiento}}</td>
                    <td>{{item.hora}}</td>
                    <td>{{item.cantidadNacionales}}</td>
                    <td>{{item.cantidadExtranjeros}}</td>
                    <td><button class="button-edit" (click)="loadActualizar(item.id!)"><img
                                src="../../../assets/img/edit.svg" width="24px" height="auto"></button>
                        <button class="button-delete" (click)="eliminar(item.id!)"><img
                                src="../../../assets/img/trash-can.svg" width="24px" height="auto"></button>
                    </td>

                    <!-- <td><button class="button-edit" (click)="loadActualizar(item.id!)"><img
                                src="../../../assets/img/edit.svg" width="24px" height="auto"></button>
                        <button class="button-delete" (click)="eliminar(item.id!)"><img
                                src="../../../assets/img/trash-can.svg" width="24px" height="auto"></button>
                    </td> -->

                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="spinner-div" style="margin-top: 5%;">
    <app-spinner *ngIf="loading"></app-spinner>
</div>