table {
    width: 100%;
    text-align: center;
}

table tr:nth-child(even) {
    background: #DFDFDF;
}

.container-submit {}


.container-input {
    display: flex;
    align-items: center;
}

input,
select {
    margin-left: 2%;
}

.container-input {
    margin-top: 5%;
}