* {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul {
        margin-bottom: 1rem;

}

nav {

    background-color: #2eb872;
    padding: 10px;
    display: flex;
    align-items: center;
}

.alink {
    font-size: 17px;
    color: white;

}

.logo img {
    height: 40px;
    width: auto;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;

}

.menu li {
    margin-left: 10px;
    margin-right: 2%;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: rgb(29, 29, 29);
}

.logoNavbar {
    width: 25px;
    height: 25px;
}