.container-buttons {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.container-button {
    margin-top: 2%;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: center;
}

.imgTable {
    width: 55px;
    height: 55px;
}

.button-secondary {
    padding: 0.7%;
    font-size: large;
    width: 20%;
}

.paginate_button.current {
    background-color: #2eb872;
    color: white;
}


.button-delete {
    border: 0;
    background: #fa7878;
}
.button-delete:hover {
    background: #fe5454;
}

.form {}
.form .button-secondary{
    width: 100%;
}
.container-general {}

.modal {
    background: rgba(0, 0, 0, .5);
}

table tr:nth-child(even) {
    background: #DFDFDF;
}