<p>index works!</p>

<div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Area de conservacion</th>
                <th>Tarifa Extranjeros (Dolares)</th>
                <th>Tarifa Nacionales (Dolares)</th>
                <th>Tarifa Nacionales (Colones)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listParques">
                <td>{{item.Nombre}}</td>
                <td>{{item.Provincia}}</td>
                <td>{{item.Area_de_Conservacion}}</td>
                <td>{{item.Tarifa_Extranjeros_dolares}}</td>
                <td>{{item.Tarifa_Nacionales_dolares}}</td>
                <td>{{item.Tarifa_Nacionales_colones}}</td>
                <td><button>Editar</button><button>Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>