.container-buttons {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
}


.button-secondary {
    border: 0;
    margin-right: 3%;
    padding: 0.5%;

    background: #248f59;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border: 0;
}

.button-edit {
    border: 0;
    margin-left: 4%;
    background: #fcffb1;
}

.button-edit:hover {
    background: #f6fa78;
}

.button-delete {
    border: 0;
    background: #fa7878;
}

.button-delete:hover {
    background: #fe5454;
}

table th {
    background: #2eb872;
    color: white;
}

