<app-navbar-admin></app-navbar-admin>
<div>

</div>

<div>
</div>
<div class="container-table">
    <div>
        <table datatable [dtOptions]="dtOptions" *ngIf="!loading">
            <thead>
                <tr>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Tipo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listUsers">
                    <td>{{item.identificacion}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.correo}}</td>
                    <td>{{item.tipo}}</td>
                    <td class="td-buttons">
                        <button class="button-edit" (click)="loadEditar(item.id!)"><img
                                src="../../../assets/img/edit.svg" width="16px" height="auto">Nombre</button>
                        <button class="button-edit" (click)="loadChangePassword(item.id!)"><img
                                src="../../../assets/img/edit.svg" width="16px" height="auto">Contraseña</button>
                        <button class="button-delete" (click)="eliminar(item.id!)"><img
                                src="../../../assets/img/trash-can.svg" width="16px" height="auto"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--MODAL-->

<div class="modal" id="modalFormPass" role="dialog" tabindex="-1" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin: auto;" *ngIf="mostrarFormClave">Cambiar Contraseña</h5>
                <h5 class="modal-title" style="margin: auto;" *ngIf="mostrarFormNombre">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="saveNewPassword()" *ngIf="mostrarFormClave" class="form">
                    <div class="container-input" style="margin-bottom: 2%;">
                        <h5>Usuario:</h5>
                        <label>{{correo}}</label>
                    </div>
                    <div class="container-input">
                        <label for="contrasena">Nueva Contraseña</label>
                        <input type="password" [(ngModel)]="nuevaContrasena" [ngModelOptions]="{standalone: true}"
                            id="nuevaContrasena">
                    </div>
                    <div class="container-input">
                        <label for="contrasena">Confirmar nueva contraseña</label>
                        <input type="password" [(ngModel)]="confirmarNuevaContrasena"
                            [ngModelOptions]="{standalone: true}" id="confirmarNuevaContrasena">
                    </div>

                    <div class="container-button">
                        <button class="button-secondary" type="submit">Guardar Contraseña</button>
                        <button class="button-delete submit-form" type="button" (click)="closePopup()">Cancelar</button>
                    </div>
                </form>
                <form (ngSubmit)="editar()" *ngIf="mostrarFormNombre">
                    <div class="container-input" style="margin-bottom: 2%;">
                        <h5>Usuario:</h5>
                        <label>{{correo}}</label>
                    </div>
                    <div class="container-input"> 
                        <label for="nombre">Nombre</label>
                        <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" id="nombre">
                    </div>
                    <div class="container-input">
                        <label for="apellido">Apellido</label>
                        <input type="text" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}" id="apellido">
                    </div>
                    <div class="container-button">
                        <button class="button-secondary" type="submit">Guardar Datos</button>
                        <button class="button-delete submit-form" type="button" (click)="closePopup()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="spinner-div" style="margin-top: 5%;">
    <app-spinner *ngIf="loading"></app-spinner>
</div>