.button-edit {
    border: 0;
    background: #fcffb1;
}

.button-edit:hover {
    background: #f6fa78;
}

.button-delete {
    border: 0;
    background: #fa7878;
}

.button-delete:hover {
    background: #fe5454;
}


table th {
    background: #2eb872;
    color: white;
}

.container-form {

    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.container-table{
    margin-top: 2%;
}
.container-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}
.container-button button{
    width:100%;
}
table{
    width: 100%;
}
.button-secondary{
    padding: 0.7%;
    font-size: large;
}