<div class="container-principal">

    <div style="width: 50%; ">
        <div class="container-logo">
            <img class="img-login-title" src="../../../assets/img/Logo_B.png">
        </div>

        <div class="container-form">
            <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onLogin()">
                <div class="text-title-login">Inicio de Sesion</div>
                <div class="container-input">
                    <label class="text-input">Correo</label>
                    <input class="form-input " type="text" id="correo" formControlName="correo">

                </div>
                <div class="container-input">
                    <label class="text-input">Contrasena</label>
                    <input class="form-input " type="password" id="password" formControlName="password">


                </div>
                <div class="container-button">
                    <button class="btn-login" type="submit" [disabled]="!loginForm.valid">Ingresar</button>

                </div>
            </form>
        </div>
    </div>
    <div class="container-img-background" style="background-color: bisque; width: 50%;">
        <img class="img-background" src="../../../assets/img/login-background.jpg">
    </div>
</div>