<div class="container-principal">

    <style>
        .title {}
    </style>

    <div class="container-parks">
        <div class="card" *ngFor="let item of listParks">
            <h4 class="title">{{item.Nombre}}</h4>
            <img class="imgTable" [src]="'../../../assets/img/parquesNacionales/' + item.Nombre+'.jpg'">
            <p class="text">Provincia: {{item.Provincia}}</p>
            <div class="container-button-reservation">
                <button class="button-reservation" (click)="reservation(item.Id)"><img class="iconButton"
                        src="../../../../assets/img/iconReservation.png" /></button>
            </div>
        </div>

    </div>

</div>