.button-reservation {
    width: 95%;
    background: #248f59;
    border: 0;
    border-radius: 5px;
}

.iconButton {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.container-button-reservation {
    display: flex;
    justify-content: center;
    margin-block-end: 5px;
}

.container-parks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;

    margin-top: 10px;
}

.card {
    width: 270px;
    height: 350px;
    padding: 2%;
    padding-bottom: 4%;
    box-shadow: 5px 0 0 1px rgba(#000, .05), 0 20px 50px;
    text-align: center;
}

.imgTable {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 5px;
}