.button-reservation {
    width: 95%;
    background: #248f59;
    border: 0;
    border-radius: 5px;
}

.button-reservation:hover {
    background: #074e2b;
}

.iconButton {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.container-button-reservation {
    display: flex;
    justify-content: center;
    margin-block-end: 5px;
}

.container-parks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}

.container-principal {
    margin-bottom: 2%;
}

.container-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.card {
    width: 270px;
    height: 350px;
    padding: 2%;
    padding-bottom: 4%;
    box-shadow: 2px 0 10px 0.5px rgba(0, 0, 0, 0.434);
    text-align: center;
}

.card:hover {
    transform: scale(1.015);
    transition: .10s all;
}

.imgTable {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.button-secondary {
    border: 0;
    padding: 0.5%;

    background: #248f59;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border: 0;
}

.button-secondary:hover {
    background: #074e2b;
}

.span-page {
    margin-left: 1%;
    margin-right: 1%;
}

.searchPark {

    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}