@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: 'Poppins Regular';
    src: url('../src/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../src/assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins Thin';
    src: url('../src/assets/fonts/Poppins-Thin.ttf');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../src/assets/fonts/Poppins-Medium.ttf');
}
*{
    font-family: 'Poppins Regular';
}
h5,h4{
    font-family: 'Poppins Medium';
}
.errorMessage {
    color: red;
}

body {
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 1.25rem 0px 1.25rem;
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    border: 0;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    display: inherit;
}


.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

/* Spinner Codigo*/

.spinner-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Index*/
.button-edit {
    border: 0;
    margin: auto;
    background: #fcffb1;
    margin-right: 5%;
    border-radius: 5px;
}
.button-edit:hover {
    background: #f6fa78;
}
.button-delete {
    border: 0;
    background: #fa7878;
    border-radius: 5px;
}
.button-delete:hover {
    background: #fe5454;
}
tr {
    text-align-last: center;
}

table th {
    background: #2eb872;
    color: white;
}
table tr:nth-child(even) {
    background: #DFDFDF;
}

.button-secondary {
    border: 0;
    padding: 0.5%;

    background: #248f59;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
}
.button-secondary:hover {
    background: #1d6f44;
}
.submit-form {
    margin-top: 4%;

    align-self: center;
    width: -webkit-fill-available;
}

label {
    margin-top: 1%;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 2%;
}
  .close{
    border: none;
    background: none;
  }
  .modal {
    background: rgba(0, 0, 0, .5);
}